# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build products
/build*/

# Linux temp files
*~

/datiTracker

notesTest_stramakarmaOPC.txt
app/scripts/stramaKarmaOPC_BKP.xml
app/scripts/TRACKING-OBJETCS.xml
